body {
 background-image: url("heartbg.png");
 background-color: #cccccc;
}

#button1, #button2 {
  display: inline-inline-block;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
